header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;    
    justify-content: center;
    align-items: center;
}
#game-screen{
    position: relative;
    height: 500px;
    width: 800px;
    border-radius: 5px;
    background-color: gray;
    overflow: hidden;
}
.key-WASD{
    position: relative;
    
    width:126px;/* Box = (40 * 3) + shadow = (2*3)*/
    height:82px ;/* Box = (40 * 2) + shadow = (2)*/

    top:209px;/* Center => height= 500 /2 = 250 - box = (82/2)= 41 */
    left: 337px;/*Center => width = 800 /2 = 400 - Box = (126/2)=63  */
    
}
#key-W, #key-A, #key-S, #key-D{
    position: absolute;
    font-size: 30px;
    text-align: center;
    height: 40px;
    width: 40px;
    color: rgb(119, 107, 85);
    background-color: wheat;
    border-radius: 5px;
    box-shadow:2px 2px;
}
#key-W{
    left:43px;
}
#key-A{
    bottom:0px;
}
#key-D{
    right: 0px;
    bottom:0px;
}
#key-S{
    left:43px;
    bottom: 0;
}
#block-W, #block-A, #block-D, #block-S{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(26, 26, 26);
    
}
#block-W{
    top: 0;
    right:380px;/*center width=(800/2)=400 - box =(40/2)=20*/
    animation-name: animation-block-w;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#block-A{
    bottom:209px;/*center height=(500/2)=250 - box =(40/2)=20 - boxKey = (43/2)=21 */
    left:0px;
    animation-name: animation-block-a;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#block-D{
    bottom:209px;/*center height=(500/2)=250 - box =(40/2)=20 - boxKey = (43/2)=21 */
    right: 0px;
    animation-name: animation-block-d;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#block-S{
    bottom:0px;
    right:380px;/*center width=(800/2)=400 - box =(40/2)=20*/
    animation-name: animation-block-s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes animation-block-w{
    from{
        transform: translateY(-40px);
    }
    to{
        transform: translateY(209px);
    }
}
@keyframes animation-block-a{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(337px);
    }
}
@keyframes animation-block-d{
    from{
        transform: translateX(40px);
    }
    to{
        transform: translateX(-337px);
    }
}
@keyframes animation-block-s{
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(-209px);
    }
}