header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;    
    justify-content: center;
    align-items: center;
}
#game-screen{
    position: relative;
    height: 500px;
    width: 800px;
    border-radius: 5px;
    background-color: gray;
}
.key-WASD{
    position: relative;
    
    width:126px;/* Box = (40 * 3) + shadow = (2*3)*/
    height:82px ;/* Box = (40 * 2) + shadow = (2)*/

    top:209px;/* Center => height= 500 /2 = 250 - box = (82/2)= 41 */
    left: 337px;/*Center => width = 800 /2 = 400 - Box = (126/2)=63  */
    
}
#key-W, #key-A, #key-S, #key-D{
    position: absolute;
    font-size: 30px;
    text-align: center;
    height: 40px;
    width: 40px;
    color: rgb(119, 107, 85);
    background-color: wheat;
    border-radius: 5px;
    box-shadow:2px 2px;
}
#key-W{
    left:43px;
}
#key-A{
    bottom:0px;
}
#key-D{
    right: 0px;
    bottom:0px;
}
#key-S{
    left:43px;
    bottom: 0;
}
#block-W, #block-A, #block-D, #block-S{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(26, 26, 26);
}
#block-W{
    top:0px;
    right:380px;/*center width=(800/2)=400 - box =(40/2)=20*/
}
#block-A{
    bottom:209px;/*center height=(500/2)=250 - box =(40/2)=20 - boxKey = (43/2)=21 */
    left:0px;
}
#block-D{
    bottom:209px;/*center height=(500/2)=250 - box =(40/2)=20 - boxKey = (43/2)=21 */
    right: 0px;
}
#block-S{
    bottom:0px;
    right:380px;/*center width=(800/2)=400 - box =(40/2)=20*/
}